<h1 class="stat-value">Crear Contacto </h1>

<section>
  <p>Bienvenido a la página de creación de contactos.</p>



<!-- Formulario Angular con Tailwind CSS -->
<div class="w-full max-w-1/2 mx-auto bg-white p-8 shadow-md rounded-md">

  <form autocomplete="on" [formGroup]="myForm" >

    <!-- Nombre -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" formControlName="name">Nombre</label>
      <input
        type="text"
        id="name"
        name="name"
        class="w-full px-3 py-2 border rounded-md"
        placeholder="Ingrese su nombre"
      />
      @if ( formUtils.isValidField(myForm, "name") ) {
        <span class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
           {{ formUtils.getFieldError(myForm, "name") }}
        </span>
      }
    </div>

    <!-- Apellido -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">Apellido</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        class="w-full px-3 py-2 border rounded-md"
        placeholder="Ingrese su apellido"
      />
      @if ( formUtils.isValidField(myForm, "last_name") ) {
        <span class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
           {{ formUtils.getFieldError(myForm, "last_name") }}
        </span>
      }
    </div>

    <!-- Correo Cargo -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="position">Cargo</label>
      <input
        type="text"
        id="position"
        name="position"
        class="w-full px-3 py-2 border rounded-md"
        placeholder="Cargo"
      />
      @if ( formUtils.isValidField(myForm, "position") ) {
        <span class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
           {{ formUtils.getFieldError(myForm, "position") }}
        </span>
      }
    </div>

    <!-- Correo Departamento -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="department">Departamento</label>
      <select formControlName="department" class="form-control w-full px-3 py-2 border rounded-md">
        <option value="">-- Selecciona el departmento --</option>
        <!-- <option [value]="id">
          {{ country.name }}
        </option> -->
      </select>
      @if ( formUtils.isValidField(myForm, "department") ) {
        <span class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
           {{ formUtils.getFieldError(myForm, "department") }}
        </span>
      }
    </div>

    <!-- Correo Sede -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="place">Sede</label>
      <select formControlName="place" class="form-control w-full px-3 py-2 border rounded-md">
        <option value="">-- Selecciona la sede --</option>
        <!-- <option [value]="id">
          {{ country.name }}
        </option> -->
      </select>
      @if ( formUtils.isValidField(myForm, "place") ) {
        <span class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
           {{ formUtils.getFieldError(myForm, "place") }}
        </span>
      }
    </div>

    <!-- Telefono -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="local_phone">Extension</label>
      <input
        type="text"
        id="local_phone"
        name="local_phone"
        class="w-full px-3 py-2 border rounded-md"
        placeholder=" numero tlf"
      />
      @if ( formUtils.isValidField(myForm, "local_phone") ) {
        <span class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
           {{ formUtils.getFieldError(myForm, "local_phone") }}
        </span>
      }
    </div>

    <!-- Telefono personal -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="cell_phone">Tlf personal</label>
      <input
        type="text"
        id="cell_phone"
        name="cell_phone"
        class="w-full px-3 py-2 border rounded-md"
        placeholder=" numero tlf"
      />
      @if ( formUtils.isValidField(myForm, "cell_phone") ) {
        <span class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
           {{ formUtils.getFieldError(myForm, "cell_phone") }}
        </span>
      }
    </div>
    

    <!-- Botón de Envío -->
    <div>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Guardar</button>
    </div>
  </form>

</div>

</section>